<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>OOPS!</h1>
  <h4>The issue could be:</h4>
  <ul>
    <li>Make Sure your account was created</li>
    <li>Try logging in</li>
    <li>Please make sure your credentials are correct!</li>
  </ul>
  <div class="links">
    <a href="/new-user"><button>Create an account</button></a>
    <a href="/"><button>Back Home</button></a>
  </div>
</body>
</html>